<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apnea Together</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
        body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
  
        #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
        #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
        #input:focus { outline: none; }
        #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }
  
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages > li { padding: 0.5rem 1rem; }
        #messages > li:nth-child(odd) { background: #efefef; }
      </style>

</head>
<body>

    <section>
        <section>
            <h1>Apnea Together</h1>
    
            <a href="/"> Home</a>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
            <a href="/basic-timer"> Basic Timer</a>
            <a href="/hello"> Hello</a>
            <a href="/socket-timer"> Socket Timer</a>
            
            <h3>Socket Timer</h3>

            <ul id="messages"></ul>
            <form id="form" action="">
              <input id="input" autocomplete="off" /><button>Send</button>
            </form>
            
            <!-- <p id="autoplay-warning">Please make sure to allow autoplay in your browser for this page. Otherwise the timer's beeps will not be heard.</p>
            <h3>Soccket Timer</h3>

                <button id="stop-timer">Stop Timer</button> 
                <button id="clear-timer">Clear Timer</button>
                <button id="reset-timer">Reset To Last Time</button>
            </div>
        </section>

        <section id="inputs-and-preset-btns">
            <div class="inputs">
                <input id="minutes-input" type="text" placeholder="Minutes">
                <button id="set-minutes">Set</button>
                <input id="seconds-input" type="text" placeholder="Seconds">
                <button id="set-seconds">Set</button>
            </div>
            <div class="preset-btns-big-box">
                <div class="preset-btns-sml-box">
                    <button id="set-10-min-10-sec">10 min 10 sec</button>
                    <button id="set-1-min">1 min</button>
                    <button id="set-20-sec">20 sec</button>
                </div>
            </div>
        </section>
    </section>

    <script src="js/basic-timer.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script>
        const socket = io()
    </script> -->
    <script src="js/socket-timer.js"></script>
</body>
</html>