<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apnea Together</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section>
        <section>
            <h1>Apnea Together</h1>
    
            <a href="/"> Home</a>
            <a href="/login"> Login</a>
            <a href="/signup"> Signup</a>
            <a href="/basic-timer"> Basic Timer</a>
            <a href="/hello"> Hello</a>
            <a href="/socket-timer"> Socket Timer</a>
            
            <h3>Socket Timer</h3>
            <br />
            <br />

            <h4>Current Room: </h4>
            <h4 id="current-room-name"></h4>
            <br />
            <br />
            
            <form id="room-join-form" action="">
                <input id="room-join-input" placeholder="Type in a room to join" autocomplete="off"/>
                <button>Join</button>
            </form>
            <br />
            <button id="leave-current-room">Leave</button>

            <ul id="messages-ul"></ul>
            <form id="messages-form" class="messages-form-hide" action="">
              <input id="messages-input" autocomplete="off" />  <button>Send</button>
            </form>
            
            <!-- <p id="autoplay-warning">Please make sure to allow autoplay in your browser for this page. Otherwise the timer's beeps will not be heard.</p>
            <h3>Socket Timer</h3>

                <button id="stop-timer">Stop Timer</button> 
                <button id="clear-timer">Clear Timer</button>
                <button id="reset-timer">Reset To Last Time</button>
            </div>
        </section>

        <section id="inputs-and-preset-btns">
            <div class="inputs">
                <input id="minutes-input" type="text" placeholder="Minutes">
                <button id="set-minutes">Set</button>
                <input id="seconds-input" type="text" placeholder="Seconds">
                <button id="set-seconds">Set</button>
            </div>
            <div class="preset-btns-big-box">
                <div class="preset-btns-sml-box">
                    <button id="set-10-min-10-sec">10 min 10 sec</button>
                    <button id="set-1-min">1 min</button>
                    <button id="set-20-sec">20 sec</button>
                </div>
            </div>
        </section>
    </section>

    <script src="js/basic-timer.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script>
        const socket = io()
    </script> -->
    <script src="js/socket-timer.js"></script>
</body>
</html>